<div class="container">
  <div class="container-inner inner-default clearfix">
    <% users.each do |user| %>
      <div class="icon">
        <%= gravatar_for user, size: 100 %>
      </div>
    <% end %>
  </div>
</div>